.botonesUsuario {
    display: flex;
}

.btnactualizar {
    margin-left: 9.00%;
    margin-top: 20px;
}

.btn-crud {
    width: 170px;
}

.espacios {
    margin-top: 20px;
}


.h1main{
    margin: 0 0 0 0;
}

.btn-grad {
    margin-left: 5px;

    padding: 3px 5px;
    font-size: 14px;

}
.alinear {
    margin-left:26px;
    
}
.sizeBoton{
    padding: 3px 10px;
    width: 40%;
}
