
.btn-grad {
    margin-left: 5px;
    
    padding: 3px 5px;
    font-size: 14px;
    
}
.alinear {
  margin-left:26px;
  
}


.sizeBoton{
  padding: 3px 10px;
  width: 40%;
}
.alinear2{
  margin-top: 90px;
}