
.icon-briefcase:before { content: '\e800'; } /* '' */
.icon-mobile:before { content: '\e801'; } /* '' */
.icon-logout:before { content: '\e802'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
